[submodule "thirty_part/annotationTools/data-juicer"]
	path = thirty_part/annotationTools/data-juicer
	url = https://github.com/EurecaAI/data-juicer.git
[submodule "thirty_part/annotationTools/Depth-Anything-V2"]
	path = thirty_part/annotationTools/Depth-Anything-V2
	url = https://github.com/EurecaAI/Depth-Anything-V2.git
[submodule "thirty_part/annotationTools/ultralytics"]
	path = thirty_part/annotationTools/ultralytics
	url = https://github.com/EurecaAI/ultralytics.git
[submodule "thirty_part/annotationTools/sam3"]
	path = thirty_part/annotationTools/sam3
	url = https://github.com/EurecaAI/sam3.git
[submodule "thirty_part/annotationTools/Depth-Anything-3"]
	path = thirty_part/annotationTools/Depth-Anything-3
	url = https://github.com/EurecaAI/Depth-Anything-3.git
[submodule "thirty_part/annotationTools/yoloe"]
	path = thirty_part/annotationTools/yoloe
	url = https://github.com/EurecaAI/yoloe.git
[submodule "thirty_part/ModelScope-CDM-IRT"]
	path = thirty_part/ModelScope-CDM-IRT
	url = https://github.com/EurecaAI/ModelScope-CDM-IRT.git
[submodule "thirty_part/opencode"]
	path = thirty_part/opencode
	url = https://github.com/EurecaAI/opencode.git
[submodule "thirty_part/VLMEvalKit"]
	path = thirty_part/VLMEvalKit
	url = https://github.com/open-compass/VLMEvalKit.git
